.headerItem {
  position: relative;
  float: right;
  margin-top: 5em;
  font-size: 24px;
  color: black;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}

a.headerItem:hover
{
  background-color: #c6f180;
}
.header {
  display: inline-block;
  height: 12em;
  width: 90%;
  overflow: hidden;
}

.menuIcon {
  width: 3em;
  height: auto;
  position: absolute;
  top: 115px;
  right: 20px;
}

.topLogo {
  height: inherit;
  width: auto;
}
